hackernews.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "interval": 12
            }
          ]
        }
      },
      "id": "7f8a1b2c-3d4e-5f6g-7h8i-9j0k1l2m3n4o",
      "name": "Cada 12 Horas",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "url": "https://feedburner.com"
      },
      "id": "a1b2c3d4-e5f6-g7h8-i9j0-k1l2m3n4o5p6",
      "name": "The Hacker News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [620, 200]
    },
    {
      "parameters": {
        "url": "https://incibe.es"
      },
      "id": "b2c3d4e5-f6g7-h8i9-j0k1-l2m3n4o5p6q7",
      "name": "INCIBE Avisos",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [620, 350]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $json.pubDate }}",
            "Título": "={{ $json.title }}",
            "Enlace": "={{ $json.link }}",
            "Fuente": "={{ $node[\"The Hacker News\"].name || $node[\"INCIBE Avisos\"].name }}"
          },
          "matchingColumns": [
            "Enlace"
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-g7h8-i9j0-k1l2-m3n4o5p6q7r8",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [900, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TU_CREDENCIAL_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Cada 12 Horas": {
      "main": [
        [
          {
            "node": "The Hacker News",
            "type": "main",
            "index": 0
          },
          {
            "node": "INCIBE Avisos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "The Hacker News": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INCIBE Avisos": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
